@model LoginModel;

<h2>Вход в MyStat</h2>

@using(Html.BeginForm())
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="UserName" id="UserNameLabel">Введите имя пользователя:</label>
            @Html.TextBoxFor(t => t.UserName)
            <span asp-validation-for="UserName" />
        </div>
        <div class="form-group">
            <label asp-for="Password" id="PasswordLabel">Введите пароль:</label>
            @Html.TextBoxFor(t => t.Password, new{
                type = "Password"
            })
            <span asp-validation-for="Password" />
                <button id="show_password" class="btn btn-primary" type="button">
                    <span class="fa fa-eye-slash icon"></span>
                </button>
        </div>
        <div class="form-group">
            <div class="rememberMe">
                <input type="checkbox" asp-for="RememberMe" />
                <label>Remember me</label>
            </div>
            <div class="forgotPassword">
                <a asp-action="ForgotPassword" asp-controller="Account" class="redirect">Forgot Password</a>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="submitButton" />
        </div>
    </div>
}

<a asp-action="Register" asp-controller="Account" class="redirect">Регистрация</a>

@section Scripts
{
    <script src="~/js/login.js"></script>
}

@section Styles
{
    <link href="~/css/login.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
}
