#UserName, #Password, #ConfirmPassword {
    margin-bottom: 10px;
    height: 38px;
}

.submitButton {
    margin-left: 80px;
    width: 125px;
    margin-top: 15px;
}

#show_password, #show_password2 {
    margin-top: -5px;
    margin-left: -45px;
}


#UserNameLabel, #PasswordLabel, #ConfirmPasswordLabel {
    font-size: 18px;
}
