.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.font-weight-bold {
    font-weight: bold;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
