@model FullWeatherData

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8 forecast-table">
            <h2 class="text-center">Precise Forecast for the Selected City</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Temperature</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Times.Count; i++)
                    {
                        <tr>
                            <td>@Model.Times[i]</td>
                            <td>@Model.Temperatures[i]</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-center">
                <form method="get">
                    <button asp-controller="Forecast" asp-action="SearchCity" class="btn btn-custom">Return</button>
                </form>
            </div>
        </div>
    </div>

</div>

@section Styles
{
    <link href="~/css/full-weather-data.css" type="text/css" rel="stylesheet" />
}