@model CompositeAirQualitySearchModel

<div class="container my-5">
    @if (Model.AirQualityDTO != null)
    {
        <div class="row justify-content-center">
            <div class="col-md-8">

                <h2 class="mb-4 text-center">Air Quality for the Selected City</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Temperature</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.AirQualityDTO.Times.Count; i++)
                        {
                            <tr>
                                <td>@Model.AirQualityDTO.Times[i]</td>
                                <td>
                                    @if (Model.AirQualityDTO.Temperatures[i] == null)
                                    {
                                        <span>No data</span>
                                    }
                                    else
                                    {
                                        @Model.AirQualityDTO.Temperatures[i]
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="text-center mt-4">
                    <form method="get">
                        <button asp-controller="AirQuality" asp-action="Index" class="btn btn-success">Return</button>
                    </form>
                </div>

            </div>
        </div>
    }
    else if (Model.NotFoundModel != null)
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger text-center" role="alert">
                    @Model.NotFoundModel.ErrorMessage
                </div>
            </div>
        </div>
    }
</div>
